USE [TechFix]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 5/8/2025 1:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NOT NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 5/8/2025 1:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierUsername] [varchar](100) NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Discount] [decimal](5, 2) NULL,
	[Status] [varchar](20) NOT NULL,
	[OrderDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/8/2025 1:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[Price] [decimal](18, 2) NULL,
	[Discount] [decimal](5, 2) NULL,
	[SupplierUsername] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quotations]    Script Date: 5/8/2025 1:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quotations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](255) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[SupplierUsername] [varchar](100) NOT NULL,
	[Response] [text] NULL,
	[Status] [varchar](20) NOT NULL,
	[RequestDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/8/2025 1:14:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](255) NOT NULL,
	[Password_Hash] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Contact] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([Id], [ItemName], [Quantity], [Price], [Discount]) VALUES (1, N'Dell XPS 15 Laptop', 5, CAST(345000 AS Decimal(18, 0)), CAST(10 AS Decimal(18, 0)))
INSERT [dbo].[Inventory] ([Id], [ItemName], [Quantity], [Price], [Discount]) VALUES (2, N'Apple MacBook Pro 14"', 8, CAST(435000 AS Decimal(18, 0)), CAST(5 AS Decimal(18, 0)))
INSERT [dbo].[Inventory] ([Id], [ItemName], [Quantity], [Price], [Discount]) VALUES (3, N'HP Spectre x360', 6, CAST(320000 AS Decimal(18, 0)), CAST(8 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[Inventory] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderId], [SupplierUsername], [ItemName], [Quantity], [Price], [Discount], [Status], [OrderDate]) VALUES (1, N'Supplier_2', N'HP Pavilion Gaming PC', 10, CAST(450000.00 AS Decimal(10, 2)), CAST(12.00 AS Decimal(5, 2)), N'Delivered', CAST(N'2025-02-27T14:37:22.247' AS DateTime))
INSERT [dbo].[Orders] ([OrderId], [SupplierUsername], [ItemName], [Quantity], [Price], [Discount], [Status], [OrderDate]) VALUES (2, N'Supplier_2', N'Gigabyte B550 AORUS Elite Motherboard', 5, CAST(48500.00 AS Decimal(10, 2)), CAST(6.00 AS Decimal(5, 2)), N'Delivered', CAST(N'2025-03-01T12:36:54.273' AS DateTime))
INSERT [dbo].[Orders] ([OrderId], [SupplierUsername], [ItemName], [Quantity], [Price], [Discount], [Status], [OrderDate]) VALUES (3, N'Supplier_1', N'Dell Inspiron Laptop', 55, CAST(280000.00 AS Decimal(10, 2)), CAST(15.00 AS Decimal(5, 2)), N'Delivered', CAST(N'2025-03-01T12:41:53.817' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([ProductId], [ItemName], [Quantity], [Price], [Discount], [SupplierUsername]) VALUES (1, N'Dell Inspiron Laptop', 10, CAST(280000.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(5, 2)), N'Supplier_1')
INSERT [dbo].[Products] ([ProductId], [ItemName], [Quantity], [Price], [Discount], [SupplierUsername]) VALUES (2, N'Logitech Wireless Mouse', 25, CAST(3500.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(5, 2)), N'Supplier_1')
INSERT [dbo].[Products] ([ProductId], [ItemName], [Quantity], [Price], [Discount], [SupplierUsername]) VALUES (3, N'Mechanical Keyboard RGB', 8, CAST(7575.00 AS Decimal(18, 2)), CAST(6.00 AS Decimal(5, 2)), N'Supplier_2')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Quotations] ON 

SET IDENTITY_INSERT [dbo].[Quotations] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Username], [Password_Hash], [Role], [Email], [Contact]) VALUES (1, N'admin', N'admin123', N'Admin', N'admin@gmail.com', N'0778597438')
INSERT [dbo].[Users] ([Id], [Username], [Password_Hash], [Role], [Email], [Contact]) VALUES (2, N'Supplier_1', N'supplier@123', N'Supplier', N'supplier@gmail.com', N'0761957735')
INSERT [dbo].[Users] ([Id], [Username], [Password_Hash], [Role], [Email], [Contact]) VALUES (3, N'Supplier_2', N'supplier@456', N'Supplier', N'supplier_2@gmail.com', N'0701503246')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4A2E017D2]    Script Date: 5/8/2025 1:14:49 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534D134A795]    Script Date: 5/8/2025 1:14:49 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Quotations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Quotations] ADD  DEFAULT (getdate()) FOR [RequestDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Supplier') FOR [Role]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Discount]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Status] CHECK  (([Status]='Delivered' OR [Status]='Shipping' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Discount]>=(0) AND [Discount]<=(100)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD CHECK  (([Price]>=(0)))
GO
ALTER TABLE [dbo].[Quotations]  WITH CHECK ADD CHECK  (([Status]='Responded' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Supplier' OR [Role]='Admin'))
GO
